.footer {
    display: flex;
    min-height: 350px;
    background-color: black;
    color: white;
  }
  
  .footer__culumns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    list-style: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__column-link {
    color: white;
    list-style: none;
  }
  
  .footer__columns-content-copyright {
  flex-basis: 711px;
  list-style: none;
  position: relative;
  bottom: -70px;
  right: -10px;
  }
  
  .footer__column-content-social {
  row-gap: 20px;
  list-style: none;
  }
  .logo_place_footer {
    width: 183px;
    height: 35px;
    margin-left: 80px;
  }
  
  .footer__social-icons {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }